@model TSUBAKI.Models.ViewModel.UsersModel

@{
    ViewBag.Title = "MyProfile";
}
<head>
    <meta charset="utf-8">
    <link href="~/css/dashb.css" rel="stylesheet">
</head>
<body>
    @foreach (var i in Model.Users)
        {
            <div class="welcomegreet">
                <h1>Welcome back, @Html.DisplayFor(m => i.ClientFirstName)!</h1>
            </div>
        }
    <div class="container">
        <div class="leftside">
            @foreach (var i in Model.Users)
            {
                <div class="profilephoto">
                    @if (!string.IsNullOrEmpty(i.AccountImage))
                        {
                            <img id="pp" src="@i.AccountImage" alt="Account Image"/>
                        }
                </div>
                <div class="moredeets">
                    <p>@Html.DisplayFor(m => i.RoleName)</p>
                </div>
            }
        </div>
        <div id="rightside">
            @foreach (var i in Model.Users)
            {
                <div class="profdeets">
                    <p id="field">NAME:</p> 
                    <p id="input">@Html.DisplayFor(m => i.ClientFirstName) @Html.DisplayFor(m => i.ClientLastName)</p>
                    <p id="field">EMAIL:</p> 
                    <p id="input">@Html.DisplayFor(m => i.AccountEmail)</p>
                    <p id="field">GENDER:</p> 
                    <p id="input">@Html.DisplayFor(m => i.ClientGender)</p>
                    <p id="field">ADDRESS:</p> 
                    <p id="input">@Html.DisplayFor(m => i.ClientAddress)</p>
                    <p id="field">CONTACT NUMBER:</p> 
                    <p id="input">@Html.DisplayFor(m => i.ClientConNum)</p>
                    <p id="field">BIRTHDAY:</p> 
                    <p id="input">@Html.DisplayFor(m => i.ClientBirthday)</p>
                </div>
            } 
        </div>
    </div>
</body>