@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TSUBAKI.Models.ViewModel.BookModel
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <link href="~/css/bookingcss.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="contentwrapper">
        <div class="bookingfaq">
            <p id="faqtitle">Frequently Asked Questions (FAQ)</p>
            <div class="questdrop">
                <div id="questions" class="listquest">
                    <select name="question" id="qs" onchange="qnafunction()">
                        <option value="Disclaimer" class="questitem">Disclaimer (select for other options)</option>
                        <option value="q1" class="questitem">Question 1</option>
                        <option value="q2" class="questitem">Question 2</option>
                        <option value="q3" class="questitem">Question 3</option>
                    </select>
                </div>
            </div>
            <div class="responses">
                <div class="respinput">
                    <p>This will be a space for us to place a disclaimer regarding things that may happen during the booking process. This will be a default display when opening this page so that the users will immediately be able to see this.</p>
                </div>
                <div class="respinput">
                    <p>Here's where we put a response to one of the questions. The questions that are gonna be displayed here will mostly involve inquiries and details on the booking process</p>
                </div>
                <div class="respinput">
                    <p>For some clients, the entire booking process might be a little confusing and we want to make sure to accomodate these, so the team decided to integrate their own </p>
                </div>
                <div class="respinput">
                    <p>The team will expand this further in the coming days to include proper queries and responses regarding the booking process!</p>
                </div>
            </div>
            <div class="additional">
                <p>For any further questions, find our contacts <a href="~/Home/AboutUs" id="toaboutus">here </a> and we'll get to you as soon as possible!</p>
            </div>
        </div>
        <div class="formproper">
            <h2>Book an Appointment</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ScheduleDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ScheduleDate, new { @class = "form-control datepicker", @id = "datepicker", @type = "date", @data_date_format = "mm/dd/yyyy" })
                            </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ScheduleTimeslot, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ScheduleTimeslot, new List<SelectListItem> {
                        new SelectListItem { Text="9:30 AM - 11:30 AM", Value="9:30AM - 11:30 AM" },
                        new SelectListItem { Text="11:30 AM - 1:30 PM", Value="11:30AM - 1:30PM" },
                        new SelectListItem { Text="3:30 PM - 5:30 PM", Value="3:30PM - 5:30PM" }
                        }, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Book Appointment" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/bookingjs.js"></script>
</body>
